canvas {
    background-color: transparent;
}

hr {
    margin: 0;
}

.section-container {
    width: 100%;
    height: calc(100vh - 70px);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}

.main-content-left {
    width: 100%;
    height: auto;
    padding: 25px 20px 0 20px;
}

.main-content-left-buttom-top {
    height: auto;
    width: 100%;
    padding: 5px 17px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin-bottom: 20px;
    border: 1px solid #3F4B5B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.015em;
    background-color: rgba(1, 7, 18, 0.8);
    background-image: linear-gradient(to right, rgba(1, 7, 18, 1), rgba(1, 7, 18, 1), rgba(1, 50, 117, 0.3));
}

.main-content-left-buttom-top img {
    width: 35px;
    height: auto;
}

.main-content-left-buttom-top-text {
    padding: 0 16px;
}

.main-content-left-buttom-top-text h1 {
    font-size: 0.85em;
    font-weight: bolder;
    margin-bottom: 0;
    text-align: initial;
}

.main-content-left-buttom-top-text #parag {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: initial;
}


.main-content-left-buttom-top svg {
    fill: #FFF;
    width: 20px;
    height: auto;
}

.main-content-right {
    width: 100%;
    height: 400px;
    margin-bottom: -10px;
    /*background-color: #00A957;*/
}

.main-content-right-globe {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: flex;
}

#canvasContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-content-left h2 {
    font-weight: 700;
    letter-spacing: -0.040em;
    font-size: 2.3em;
    margin-bottom: 0;
    padding: 0 50px;
}

.main-content-left p {
    color: #657B97;
    margin-top: 25px;
    font-size: 18px;
}

.main-content-left-button {
    width: auto;
    padding-top: 3px;
    background-color: #00A957;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom: 5px solid transparent;
    transition: all 0.1s  ease-in-out 0.1s;
}

.main-content-left-button:hover {
    border-bottom: 5px solid #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.1s  ease-in-out 0.1s;
}

.main-content-bottom {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.main-content-bottom-image {
    width: 100%;
    height: auto;
    background-color: #FFF;
    flex: 1;

}

.main-content-bottom-avatar {
    width: 100%;
    height: max-content;
}

.main-content-bottom-avatar img {
    margin-top: -200px;
    width: 300px;
    height: auto;
}

@media (min-width: 768px) {
    .main-content-left {
        width: 550px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    body {
        background-size: 170% 140%;
    }

    main {
        margin: 0 auto;
    }

    .main-content-left {
        width: 50%;
        height: 380px;
    }

    .main-content-right {
        width: 50%;
    }
    
    #canvasContainer {
        width: 90%;
        height: 90%;
        align-items: flex-start;
    }
    .main-content-right-globe {
        
        /*background-color: #F00;*/
    }

    .main-content-bottom {
        text-align: right;
        width: 100%;
    }
    
    hr {
        display: none;
    }
}

@media (min-width: 1200px) {
    body {
        background-size: 170% 140%;
    }
    
    .main-content-bottom-image {
        width: 100%;
        height: auto;
        background-color: #FFF;
    }

    .main-content-bottom-avatar {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .main-content-bottom-avatar img {
        margin-top: -200px;
        width: 300px;
        height: auto;
    }
}