@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
body {
    background-color: #0C1117;
    background-image: none;
    font-family: "Inter";
}

nav {
    height: 60px;
    background-color: #141B22;
    display: flex;
}

.git-search-container {
    width: 100%;
    height: auto;
}

.input-search {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 20px;  
}

.form-search {
    width: 280px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.form-search input {
    width: 100%;
    height: 40px;
    background-color: #141B22;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
}

.form-search input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
    font-style: italic;
}

.form-search input:focus {
    outline-width: 0;
    background-color: #141B22;
}

.form-search button {
    font-size: 12px;
    padding: 10px 14px;
    background-color: #0A1117;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 5px;
    border: 1px solid #A7A9AB;
    transition: all 0.2s linear 0.2s;
}

.form-search button:hover {
    border: 1px solid transparent;
    background-color: #00A957;
    transition: all 0.2s linear 0.2s;
}

.form-search button:focus {
    outline-width: 0;
}

.git-search-content {
    max-width: 1200px;
    margin: 0 auto;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    /*border-top: 1px solid rgba(255, 255, 255, 0.3);*/
}

.git-search-content-picture {
    width: 100%;
    height: auto;
    /*background-color: aquamarine;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.git-search-content-picture #photo {
    width: 17.9%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blueviolet;*/
}

.git-search-content-picture #photo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #2D353C;
    padding: 0;
}

.git-search-content-picture #photo #photo-profile {
    width: 100%;
    height: auto;
    /*
    background-image: url('../../assets/images/photo2.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00A957;
    */
}

.git-search-content-picture #text {
    flex: 1;
    height: auto;
    /*margin-left: 10px;*/
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-weight: bold;
}

.git-search-content-picture #text h1, p {
    margin: 0;
    padding: 0;
    color: #F0F6FC;
}

.git-search-content-picture #text h1 {
    font-size: 24px;
}

.git-search-content-picture #text p {
    font-weight: 100;
    font-size: 18px;
}

.git-search-content-picture #network {
    width: 100%;
    height: 50px;
    /*background-color: darkkhaki;*/
    display: flex;
    align-items: center;
    font-weight: 100;
}

.git-search-content-picture #network svg {
    fill: #FFF;
    margin-right: 5px;
}

.git-search-content-picture #network .numbers {
    font-weight: 400;
    font-size: 14px;
}

.git-search-content-nav-data {
    width: 100%;
    height: 100px;
}

.git-search-content-profile {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-family: 'JetBrains Mono', monospace;
    /*background-color: brown;*/
}

.git-search-content-data-container-profile {
    width: 100%;
    height: auto;
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.git-search-content-data-container-profile p {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 20px;
}

.git-search-content-data-container-profile ul {
    width: 100%;
    display: block;
    list-style-type: disc;
    margin: auto;
    padding: auto;
    font-family: 'JetBrains Mono', monospace;
    padding-left: 15px;
}

.git-search-content-data-container-profile ul li {
    word-wrap: break-word;
}

.git-search-content-data-container-repository {
    width: 100%;
    height: auto;
    padding: 2% 2%;
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.git-search-content-data-container-repository .card {
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    margin: 1% 0;
    border: 1px solid rgba(200, 200, 200, 0.2);
    background-color: unset;
    display: flex;
    justify-content: space-between;
}

.git-search-content-data-container-repository .card .card-content-top {
    display: flex;
    justify-content: space-between;

}

.card-content-top .name-repo {
    font-size: 13px;
    font-weight: bold;
    color: #189DEF;
    display: block;

}

.git-search-content-data-container-repository .card-content-top .visibility {
    padding: 2px 7px;
    background-color: #0C1110;
    font-size: 10px;
    color: #88948E;
    border: 1px solid #88948E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.git-search-content-data-container-repository .card .card-content-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.git-search-content-data-container-repository .card-content-bottom .icon {
    width: 10px;
    height: 10px;
    background-color: #00A957;
    border-radius: 50%;
    margin-right: 5px;
}

.git-search-content-data-container-repository .card-content-bottom .language {
    font-size: 12px;
    color: #88948E;
}



/*-------------------------------------------------*/

@media (min-width: 768px) {
    nav {
        background-color: unset
    }

    .git-search-content {
        flex-wrap: nowrap;
        align-items: flex-start;
        /*background-color: #00A957;*/
    }

    .git-search-content #line {
        width: 100%;
        height: 0px;
        border-top: 1px solid rgba(200, 200, 200, 0.2);
        position: fixed;
        top: 200px;
    }

    .git-search-content-picture {
        max-width: 256px;
    }

    .git-search-content-nav-data {
        flex: 1;
        margin-top: 20px;
        padding-left: 20px;
    }

    /**********************************/

    .git-search-content-picture #photo {
        width: 100%;
        /*border-radius: 50%;*/
        /*background-color: purple;*/
        margin-bottom: 20px;
        padding-top: 20px;
        z-index: 1;
    }

    .git-search-content-picture #photo img {
        max-width: 256px;
        height: auto;
    }

    .git-search-content-data-container-repository {
        flex-direction: row;
        justify-self: auto;
        flex-wrap: wrap;
        padding: 1% 1%;
    }
    .git-search-content-data-container-repository .card {
        width: 48%;
    }
}   